<html>
<head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="p-3 mb-2 bg-primary text-white">
    <h1 style="text-align: center;">
        <font size="10">BLOG</font>
    </h1>
</div>
<div class="container">
    <table class="table table-striped bg-info text-white" style="text-align: center;">
        <thead>
        <tr>
            <th scope="col" style="text-align: center;">Title</th>
            <th scope="col" style="text-align: center;">Date</th>
        </tr>
        </thead>
    {{range .articles}}
        <tr>
            <td>
                <a class="nav-link active" href="/show/{{.ID}}">{{.Title}}</a>
            </td>
            <td>{{.Date}}</td>
        </tr>
    {{end}}

    </table>
</div>

<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">news</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">twitter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">about me</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

</body>
</html>