<html>
<head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="p-3 mb-2 bg-primary  text-white">
    <h1 style="text-align: center;">
        <font size="10">BLOG</font>
    </h1>
</div>
<div class="span10 container p-3 mb-2 bg-info text-white" style="height: 100%;">
    <div class="p-3 mb-2 bg-secondary text-white">
        <h2 style="text-align: center;">
            Title
        </h2>
    </div>
    <p><font size="6">{{.title}}</font></p>
    <h2>Body</h2>
    <p><font size="6">{{.body}}</font></p>


    <small>{{.time}}</small>
</div>

</body>
</html>